.header2 {
  height: 120px;
  width: 1024px;
  position: relative;
  background-color: var(--color-rosybrown);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.sweet-donut-removebg-preview-1-icon4 {
  margin-left: -97px;
  height: 117px;
  width: 98px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.home6 {
  margin: 0;
}
.home5 {
  align-self: stretch;
  height: 23px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.home-container {
  width: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-28xl) var(--padding-mini) 0 0;
  box-sizing: border-box;
  margin-left: -1px;
}
.menu6 {
  margin: 0;
}
.menu5,
.sweet-donut-bg {
  position: relative;
  z-index: 1;
}
.menu5 {
  align-self: stretch;
  height: 50px;
  display: inline-block;
  flex-shrink: 0;
}
.sweet-donut-bg {
  height: 1px;
  width: 47px;
}
.divider,
.menu-parent,
.sub-menu-item-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider {
  flex-direction: row;
  padding: 0 var(--padding-32xl);
  margin-top: -26px;
}
.menu-parent,
.sub-menu-item-inner {
  flex-direction: column;
}
.menu-parent {
  align-self: stretch;
  flex: 1;
}
.sub-menu-item-inner {
  height: 97px;
  flex: 0.9933;
  padding: var(--padding-28xl) var(--padding-10xl) 0 0;
  box-sizing: border-box;
  margin-left: -1px;
}
.introduce5 {
  margin: 0;
}
.introduce4 {
  align-self: stretch;
  height: 50px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.introduce-container {
  flex: 0.949;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-28xl) var(--padding-17xl) 0 0;
  margin-left: -1px;
}
.career3 {
  align-self: stretch;
  height: 50px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.career-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-28xl) var(--padding-9xl) 0 0;
  margin-left: -1px;
}
.contact2 {
  align-self: stretch;
  height: 50px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.contact-container,
.sub-menu-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.contact-container {
  width: 149px;
  flex-direction: column;
  padding: var(--padding-28xl) 0 0;
  margin-left: -1px;
}
.sub-menu-item {
  align-self: stretch;
  background-color: var(--color-rosybrown);
  flex-direction: row;
  padding: var(--padding-12xs) 0 var(--padding-11xs) var(--padding-77xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-raleway);
}
.v-n-d-label {
  height: 35px;
  width: 35px;
  position: relative;
}
.v-n-d-label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
}
.frame-child1 {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.blank-line26,
.rosewater-mist {
  margin: 0;
}
.vnd1 {
  font-family: var(--font-raleway);
}
.vnd {
  margin: 0;
  font-family: var(--font-radio-canada);
}
.rosewater-mist-43000-container {
  height: 101px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.rectangle-group,
.rosewater-mist-v-n-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rosewater-mist-v-n-d {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-27xl) 0 var(--padding-24xl);
}
.rectangle-group {
  flex-direction: column;
  gap: var(--gap-lgi);
}
.frame-child2 {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.berry-glaze,
.blank-line27 {
  margin: 0;
}
.vnd3 {
  font-family: var(--font-raleway);
}
.vnd2 {
  margin: 0;
  font-family: var(--font-radio-canada);
}
.berry-glaze-39000-container {
  height: 101px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.berry-glaze-39000-vnd-wrapper,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.berry-glaze-39000-vnd-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-27xl) 0 var(--padding-24xl);
}
.rectangle-container {
  flex-direction: column;
  gap: var(--gap-lgi);
}
.frame-child3 {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.berry-glaze1,
.blank-line28 {
  margin: 0;
}
.vnd5 {
  font-family: var(--font-raleway);
}
.vnd4 {
  margin: 0;
  font-family: var(--font-radio-canada);
}
.berry-glaze-39000-container1 {
  height: 101px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.berry-glaze-39000-vnd-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-21xl);
}
.frame-parent1,
.rectangle-parent1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.frame-parent1 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-11xl);
  grid-template-columns: repeat(3, minmax(201px, 1fr));
}
.frame-group,
.frame-wrapper1,
.sub-menu-item-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
.frame-wrapper1,
.sub-menu-item-parent {
  align-self: stretch;
  align-items: flex-start;
}
.frame-wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
}
.sub-menu-item-parent {
  flex-direction: column;
  gap: 50px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-raleway);
}
.frame-child4 {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  cursor: pointer;
}
.blank-line29,
.crme-de-la {
  margin: 0;
}
.vnd7 {
  font-family: var(--font-raleway);
}
.vnd6 {
  margin: 0;
  font-family: var(--font-radio-canada);
}
.crme-de-la-container {
  height: 53.1px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.crme-de-la-creme-43000-vnd-wrapper,
.rectangle-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.crme-de-la-creme-43000-vnd-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-26xl) 0 var(--padding-25xl);
}
.rectangle-parent2 {
  height: 339.8px;
  width: 268px;
  flex-direction: column;
  padding: 0 0 71.8px;
  box-sizing: border-box;
  gap: 18.7px;
  min-width: 268px;
}
.strawberry-jam-v-n-d {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.blank-line30,
.strawberry-jam {
  margin: 0;
}
.vnd9 {
  font-family: var(--font-raleway);
}
.vnd8 {
  margin: 0;
  font-family: var(--font-radio-canada);
}
.strawberry-jam-43000-container {
  height: 93px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.key-lime-curd-v-n-d,
.strawberry-jam-v-n-d-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.key-lime-curd-v-n-d {
  width: 245px;
  flex-direction: row;
  padding: 0 var(--padding-14xl);
  box-sizing: border-box;
}
.strawberry-jam-v-n-d-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mini);
  min-width: 174px;
}
.the-forbidden-love-v-n-d-child {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.blank-line31,
.key-lime-curd {
  margin: 0;
}
.vnd11 {
  font-family: var(--font-raleway);
}
.vnd10 {
  margin: 0;
  font-family: var(--font-radio-canada);
}
.key-lime-curd-container {
  height: 81px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.key-lime-curd-32000-vnd-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-26xl) 0 var(--padding-25xl);
}
.frame-parent3,
.frame-parent4,
.key-lime-curd-32000-vnd-wrapper,
.the-forbidden-love-v-n-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.the-forbidden-love-v-n-d {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
  min-width: 174px;
}
.frame-parent3,
.frame-parent4 {
  flex-direction: row;
  max-width: 100%;
}
.frame-parent4 {
  flex: 1;
  gap: var(--gap-lgi);
  min-width: 361px;
}
.frame-parent3 {
  align-self: stretch;
  gap: 41px;
}
.frame-child5 {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.blueberry-delight {
  margin: 0;
  font-family: var(--font-raleway);
}
.blank-line32 {
  margin: 0;
}
.vnd13 {
  font-family: var(--font-raleway);
}
.vnd12 {
  margin: 0;
}
.blueberry-delight-43000-container {
  height: 101px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.blueberry-delight-boston,
.rectangle-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blueberry-delight-boston {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-25xl) 0 var(--padding-26xl);
}
.rectangle-parent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
  min-width: 174px;
}
.frame-child6 {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.blank-line33,
.boston-cream {
  margin: 0;
}
.vnd15 {
  font-family: var(--font-raleway);
}
.vnd14 {
  margin: 0;
  font-family: var(--font-radio-canada);
}
.boston-cream-49000-container {
  height: 101px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.boston-cream-49000-vnd-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl) 0 var(--padding-25xl);
}
.frame-parent6,
.rectangle-parent4 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent4 {
  flex-direction: column;
  gap: var(--gap-2xl);
  min-width: 174px;
  font-family: var(--font-raleway);
}
.frame-parent6 {
  flex-direction: row;
  max-width: 100%;
  row-gap: 20px;
}
.the-forbidden-love-v-n-d-item {
  width: 268px;
  height: 268px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.the-forbidden-love {
  margin: 0;
  font-family: var(--font-raleway);
}
.blank-line34 {
  margin: 0;
}
.vnd17 {
  font-family: var(--font-raleway);
}
.vnd16 {
  margin: 0;
}
.the-forbidden-love-container {
  height: 81px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.the-forbidden-love-49000-vnd-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl) 0 var(--padding-25xl);
}
.the-forbidden-love-v-n-d1 {
  width: 268px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  min-width: 268px;
}
.frame-parent5 {
  width: 834px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-family: var(--font-radio-canada);
}
.frame-parent2,
.frame-parent5,
.menu-inner {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.menu-inner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-61xl) var(--padding-32xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-raleway);
}
.section62 {
  height: 510px;
  width: 1024px;
  position: relative;
  background-color: var(--color-rosybrown);
  display: none;
  max-width: 100%;
}
.fresh-cakes-every2 {
  width: 185px;
  position: absolute;
  margin: 0 !important;
  bottom: -9px;
  left: -15px;
  display: inline-block;
  z-index: 1;
}
.sweet-donut-removebg-preview-1-icon5 {
  height: 187px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.frame-wrapper2,
.fresh-cakes-every-day-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fresh-cakes-every-day-group {
  width: 157px;
  flex-direction: row;
  position: relative;
}
.frame-wrapper2 {
  height: 295px;
  width: 212px;
  flex-direction: column;
}
.contact-information2 {
  width: 190px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.address-nguyen-dinh2,
.blank-line35,
.blank-line36,
.blank-line37,
.district-3-city2,
.emailweetdonutvietnamcom2,
.phone-number-0901276672,
.working-hours-08002 {
  margin: 0;
}
.address-nguyen-dinh-container2 {
  position: relative;
  text-align: left;
  cursor: pointer;
  z-index: 1;
}
.contact-information-container,
.frame-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-information-container {
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-wrapper3 {
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
}
.policies2 {
  width: 71px;
  position: relative;
  display: inline-block;
  min-width: 71px;
  z-index: 1;
}
.blank-line38,
.blank-line39,
.blank-line40,
.blank-line41,
.customer-support2,
.delivery-policy2,
.payment-policy2,
.shipping-policy2,
.shopping-guide2 {
  margin: 0;
}
.shopping-guide-customer-container2 {
  position: relative;
  text-align: left;
  cursor: pointer;
  z-index: 1;
}
.policies-and-guides {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2xl);
}
.menu4,
.policies-and-guides,
.section6-container {
  display: flex;
  justify-content: flex-start;
}
.section6-container {
  align-self: stretch;
  background-color: var(--color-rosybrown);
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-70xl) var(--padding-80xl) var(--padding-107xl);
  box-sizing: border-box;
  gap: var(--gap-47xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-raleway);
}
.menu4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-19xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .frame-parent1 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(201px, 348px));
  }
  .rectangle-parent2 {
    flex: 1;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .the-forbidden-love-v-n-d1 {
    flex: 1;
  }
  .frame-parent5 {
    flex-wrap: wrap;
  }
  .menu-inner {
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
  .section6-container {
    flex-wrap: wrap;
    gap: var(--gap-14xl);
    padding-left: var(--padding-30xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .frame-wrapper1,
  .sub-menu-item {
    padding-left: var(--padding-29xl);
    box-sizing: border-box;
  }
  .frame-wrapper1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
  .sub-menu-item-parent {
    gap: 25px;
  }
  .frame-parent4,
  .frame-parent6 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .menu-inner {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .section6-container {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-63xl);
    box-sizing: border-box;
  }
  .menu4 {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .sub-menu-item {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .berry-glaze-39000-vnd-wrapper,
  .rosewater-mist-v-n-d {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent1 {
    grid-template-columns: minmax(201px, 1fr);
  }
  .crme-de-la-creme-43000-vnd-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangle-parent2 {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .key-lime-curd-32000-vnd-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent3 {
    gap: 20px;
  }
  .blueberry-delight-boston,
  .boston-cream-49000-vnd-wrapper,
  .the-forbidden-love-49000-vnd-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .menu-inner {
    padding-bottom: 21px;
    box-sizing: border-box;
  }
  .section6-container {
    gap: var(--gap-base);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
